<template name="HomePrivate">
	<div class="container" id="content">
		<div class="" id="title_row">
			<div class="col-md-12">
				<!-- <h2 id="page_title" class="pull-left">
					Welcome {{userFullName}}!
				</h2>
				<div id="page_menu" class="pull-right">

				</div> -->
                 {{>calendar}}
			</div>
		</div>
	</div>
</template>

<template name = "calendar">
    <div style = "width: 400px;margin: 20px auto">
        <div style = "display: inline-block;background-color: #D0D0D0;">
            <button class = "btn btn-md btn-warning" style = "margin: 0;" id = "premonth"> « </button>
        </div>
        <div style = "display: inline-block;background-color: #D0D0D0; padding: 0 10px 0 10px">
            <h4>{{getMonth}}</h4>
        </div>
        <div style = "display: inline-block;background-color: #D0D0D0;">
            <button class = "btn btn-md btn-warning" id = "nextMonth" > » </button>
        </div>
    </div>
  <table class = "table table-striped table-hover">
    <thead id="weekRow">
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </thead>
    <tr id="row1">
      <td id="date1" class = "{{#if meo1}}{{meo1}}{{/if}}">{{getDay 1}}</td>
      <td id="date2" class = "{{#if meo2}}{{meo2}}{{/if}}">{{getDay 2}}</td>
      <td id="date3" class = "{{#if meo3}}{{meo3}}{{/if}}">{{getDay 3}}</td>
      <td id="date4" class = "{{#if meo4}}{{meo4}}{{/if}}">{{getDay 4}}</td>
      <td id="date5" class = "{{#if meo5}}{{meo5}}{{/if}}">{{getDay 5}}</td>
      <td id="date6" class = "{{#if meo6}}{{meo6}}{{/if}}">{{getDay 6}}</td>
      <td id="date7" class = "{{#if meo7}}{{meo7}}{{/if}}">{{getDay 7}}</td>
    </tr>
    <tr id="row2">
      <!-- them  class = "{{#if meo2}}{{meo2}}{{/if}}" voi meo8 tuong ung voi so tren id-->
      <td id="date8" class = "{{#if meo8}}{{meo8}}{{/if}}">{{getDay 8}}</td>
      <td id="date9" class = "{{#if meo9}}{{meo9}}{{/if}}">{{getDay 9}}</td>
      <td id="date10" class = "{{#if meo10}}{{meo10}}{{/if}}">{{getDay 10}}</td>
      <td id="date11" class = "{{#if meo11}}{{meo11}}{{/if}}">{{getDay 11}}</td>
      <td id="date12" class = "{{#if meo12}}{{meo12}}{{/if}}">{{getDay 12}}</td>
      <td id="date13" class = "{{#if meo13}}{{meo13}}{{/if}}">{{getDay 13}}</td>
      <td id="date14" class = "{{#if meo14}}{{meo14}}{{/if}}">{{getDay 14}}</td>
    </tr>
    <tr id="row3">
      <td id="date15" class = "{{#if meo15}}{{meo15}}{{/if}}">{{getDay 15}}</td>
      <td id="date16" class = "{{#if meo16}}{{meo16}}{{/if}}">{{getDay 16}}</td>
      <td id="date17" class = "{{#if meo17}}{{meo17}}{{/if}}">{{getDay 17}}</td>
      <td id="date18" class = "{{#if meo18}}{{meo18}}{{/if}}">{{getDay 18}}</td>
      <td id="date19" class = "{{#if meo19}}{{meo19}}{{/if}}">{{getDay 19}}</td>
      <td id="date20" class = "{{#if meo20}}{{meo20}}{{/if}}">{{getDay 20}}</td>
      <td id="date21" class = "{{#if meo21}}{{meo21}}{{/if}}">{{getDay 21}}</td>
    </tr>
    <tr id="row4">
      <td id="date22" class = "{{#if meo22}}{{meo22}}{{/if}}">{{getDay 22}}</td>
      <td id="date23" class = "{{#if meo23}}{{meo23}}{{/if}}">{{getDay 23}}</td>
      <td id="date24" class = "{{#if meo24}}{{meo24}}{{/if}}">{{getDay 24}}</td>
      <td id="date25" class = "{{#if meo25}}{{meo25}}{{/if}}">{{getDay 25}}</td>
      <td id="date26" class = "{{#if meo26}}{{meo26}}{{/if}}">{{getDay 26}}</td>
      <td id="date27" class = "{{#if meo27}}{{meo27}}{{/if}}">{{getDay 27}}</td>
      <td id="date28" class = "{{#if meo28}}{{meo28}}{{/if}}">{{getDay 28}}</td>
    </tr>
    <tr id="row5">
      <td id="date29" class = "{{#if meo29}}{{meo29}}{{/if}}">{{getDay 29}}</td>
      <td id="date30" class = "{{#if meo30}}{{meo30}}{{/if}}">{{getDay 30}}</td>
      <td id="date31" class = "{{#if meo31}}{{meo31}}{{/if}}">{{getDay 31}}</td>
      <td id="date32" class = "{{#if meo32}}{{meo32}}{{/if}}">{{getDay 32}}</td>
      <td id="date33" class = "{{#if meo33}}{{meo33}}{{/if}}">{{getDay 33}}</td>
      <td id="date34" class = "{{#if meo34}}{{meo34}}{{/if}}">{{getDay 34}}</td>
      <td id="date35" class = "{{#if meo35}}{{meo35}}{{/if}}">{{getDay 35}}</td>
    </tr>
    <tr id="row6">
      <td id="date36" class = "{{#if meo36}}{{meo36}}{{/if}}">{{getDay 36}}</td>
      <td id="date37" class = "{{#if meo37}}{{meo37}}{{/if}}">{{getDay 37}}</td>
      <td id="date38" class = "{{#if meo38}}{{meo38}}{{/if}}">{{getDay 38}}</td>
      <td id="date39" class = "{{#if meo39}}{{meo39}}{{/if}}">{{getDay 39}}</td>
      <td id="date40" class = "{{#if meo40}}{{meo40}}{{/if}}">{{getDay 40}}</td>
      <td id="date41" class = "{{#if meo41}}{{meo41}}{{/if}}">{{getDay 41}}</td>
      <td id="date42" class = "{{#if meo42}}{{meo42}}{{/if}}">{{getDay 42}}</td>
    </tr>
  </table>
</template>
